%h2 Who Will You Be Learning From?

.intro You will be taught by two expert teachers who offer different insights and experiences.

.teacher
    %h3 Jeremy Walker
    .tagline Jeremy is an expert software developer, and teaches with the experience and perspective of a life-long programmer.
    =image_tag "jeremy.png"
    .job Technical Co-founder of #{link_to "Meducation", "https://www.meducation.net", target: '_new'}
    .twitter= link_to "Twtter (@iHID)", "http://twitter.com/iHiD", target: '_new'
    .github= link_to "Github Profile", "http://github.com/iHiD", target: '_new'
    .website= link_to "Personal Site", "http://www.ihid.co.uk", target: '_new'

    %ul.overview 
        %li Over 20 years experience of writing software. 
        %li Single handedly programmed a social network used by hundreds of thousands of people.
        %li A contributor to a variety of open source projects including #{link_to "Ruby on Rails", "http://www.github.com/rails/rails", target: '_new'}.
        
    .bio
        %p Jeremy has been writing software since the age of 9 when he started creating platform games on his Amiga. After running a successful software consultancy, he co-founded Meducation, where he has single-handily created a medical social education network, used by hundreds of thousands of people.

.teacher
    %h3 Edward Wallitt
    .tagline Ed taught himself to write software 5 years ago, and understands what it's like to learn to program as an adult.
    =image_tag "ed.png"
    .job Director of  #{link_to "Podmedics", "https://www.podmedics.org", target: '_new'}
    .twitter= link_to "Twtter (@podmedicsed)", "http://twitter.com/podmedicsed", target: '_new'
    .github= link_to "Github Profile", "http://github.com/edwallitt", target: '_new'
    .website= link_to "Personal Site", "http://www.podmedics.org", target: '_new'
    
    %ul.overview 
        %li Doctor who became a self-taught software developer.
        %li Develops and manages a variety of NHS applications.
        %li Creator of #{link_to "Podmedics", "http://www.podmedics.org", target: '_new'}.
        
    .bio
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
