#teachers.container

    %h2 Who Will You Be Learning From?

    .intro Doctors On Rails is run by two software professionals who are passionate about teaching their skills to others. Both Ed and Jeremy are self-taught developers, but have very different backgrounds, offering a contrast of insights and experiences.

    .teacher{style: "background-image:url(#{image_path('jeremy.jpg')})"}
        %h3 Jeremy Walker
        .job (Technical Co-founder of #{link_to "Meducation", "https://www.meducation.net", target: '_new'})
        .links
            = link_to "", "http://twitter.com/iHiD", target: '_new', class: 'twitter', title: "Twitter"
            = link_to "", "http://github.com/iHiD", target: '_new', class: 'github', title: "Github"
            = link_to "", "http://www.ihid.co.uk", target: '_new', class: 'website', title: "iHiD"
        .tagline A top software developer, with the experience and perspective of a life-long programmer.
        .bio
            %p Jeremy has been writing software since the age of 9 when he started creating games on his Amiga. After running a successful software consultancy, he co-founded Meducation, where he has single-handily created a medical social education network, used by 100,000s of people. Jeremy has a degree in Computer Science & Artificial Intelligence.

            %ul.overview 
                %li Over 20 years experience of writing software. 
                %li Single handedly programmed Meducation.
                %li A contributor to a variety of open source projects including #{link_to "Ruby on Rails", "http://www.github.com/rails/rails", target: '_new'}.
                %li A blogger on his own website and #{link_to "Ruby Source", "http://rubysource.com/techniques-to-secure-your-website-with-ruby-on-rails-part-1/"}.
    

    .teacher{style: "background-image:url(#{image_path('ed.jpg')})"}
        %h3 Dr Edward Wallitt
        .job (Director of  #{link_to "Podmedics", "https://www.podmedics.org", target: '_new'})
        .links
            = link_to "", "http://twitter.com/podmedicsed", target: '_new', class: 'twitter', title: "Twitter"
            = link_to "", "http://github.com/edwallitt", target: '_new', class: 'github', title: "Github"
            = link_to "", "http://www.podmedics.org", target: '_new', class: 'website', title: "Podmedics"
        
        .tagline A software-developing doctor who understands what it's like to learn to program as an adult.
        .bio
            %p Ed Wallitt is a qualified physician who left clinical practice to setup a medical IT consultancy focused on creating physician-led software. He works with developers all around the world to created cutting-edge web and mobile applications for healthcare startups and the NHS. He has acts as an IT consultant for many London NHS trusts trying to improve the quality of their IT systems architecture and specification process. He is the founder of Podmedics.com - a medical elearning platform.
    
        %ul.overview 
            %li Doctor who became a self-taught software developer.
            %li Develops and manages a variety of enterprise level NHS applications.
            %li Creator of #{link_to "Podmedics", "http://www.podmedics.org", target: '_new'}.
