#what.container

    %h2 What Will You Learn?

    %p
        By the end of the course you will be able to create 
        %strong web-based applications
        from scratch.
    %p You will have enough knowledge to develop and expand your skills without further tuition.
    
    %p On each day, we will focus on creating a whole application to teach you a set of skills.
    
    %p
        On Saturday, we will create
        %strong  an Online CV.
        Through this you will learn HTML, CSS and some Javascript. You will understand how web requests work, learn test-driven-development and become familiar with the Sinatra framework.
    
    %p
        On Sunday, we will create 
        %strong an Interaction ePortfolio
        This will give you an introduction to Ruby on Rails and to SQL databases. We will look at source control via Github, and deployment to Heroku.
    
    %p After the course, you will be able to create both of these application from scratch by yourself, and have the skills to go on to create other applications.
    
    %h3 What EXACTLY Will I Learn?

    %p We will teach you about the following concepts:
    %ul
        %li The fundamentals of web design - HTML, CSS and JavaScript.
        %li The web request cycle.
        %li Test-first development.
        %li The basics of #{link_to "Ruby on Rails", "http://rubyonrails.org", target: '_new'}
        %li Source Control using #{link_to "Github", "http://github.com", target: '_new'}
        %li Deployment to #{link_to "Heroku", "http://www.heroku.com", target: '_new'}
        %li How to design a basic database using SQLite.
        %li And lots more...
   
    %p You will try out all the technologies in this list:
    %ul
        %li= link_to "Capybara", "https://github.com/jnicklas/capybara", target: '_new'
        %li= link_to "Cucumber", "http://cukes.info/", target: '_new'
        %li= link_to "CoffeeScript", "http://coffeescript.org/", target: '_new'
        %li= link_to "CSS", "http://en.wikipedia.org/wiki/Cascading_Style_Sheets", target: '_new'
        %li= link_to "Git", "https://github.com/", target: '_new'
        %li= link_to "Haml", "http://haml.info/", target: '_new'
        %li= link_to "HTML", "http://en.wikipedia.org/wiki/HTML", target: '_new'
        %li= link_to "Javascript", "http://en.wikipedia.org/wiki/JavaScript", target: '_new'
        %li= link_to "jQuery", "http://jquery.com/", target: '_new'
        %li= link_to "RSpec", "http://rspec.info/", target: '_new'
        %li= link_to "Ruby", "http://www.ruby-lang.org/en/", target: '_new'
        %li= link_to "Ruby on Rails", "http://rubyonrails.org/", target: '_new'
        %li= link_to "Sass", "http://sass-lang.com/", target: '_new'
        %li= link_to "Sinatra", "http://www.sinatrarb.com/", target: '_new'
        %li= link_to "SQLite", "http://www.sqlite.org/", target: '_new'
        %li= link_to "WEBrick", "http://en.wikipedia.org/wiki/WEBrick", target: '_new'
        
    %p If you want to know if we cover a specific topic that you're interested in, please #{link_to "email us", "mailto:admin@doctorsonrails.org"} and ask!